html,
body {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.videos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  flex-wrap: wrap;
}

.videos iframe {
  width: 100%;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .videos iframe {
    padding: 20px;
    width: 25%;
  }
}
