html,
body {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  padding: 25px 0 0 0;
}

h1 {
  margin: 0 auto 5px auto;
  font-size: 1.5em;
  letter-spacing: .09em;
}

p {
  margin: 0 auto;
  font-size: .75em;
}

.videos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 12px 15px 15px 15px;
  width: 100%;
}

.videos .video {
  height: 150px;
  position: relative;
  width: 50%;
}

.videos .video .frame {
  height: 100%;
  position: relative;
  width: 100%;
}

.videos .video .media-player {
  background: yellow;
  height: 100%;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0px;
  overflow: hidden;
}

.videos .video .overlay {
  -webkit-appearance: none;
  height: 100%;
  left: 0;
  margin: 0 auto;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 12;
}

input[type="checkbox"] {
  border: none;
  border-radius: 0;
}

input[type="checkbox"] + label {
  align-items: center;
  background: yellow;
  color: yellow;
  display: block;
  display: flex;
  height: 101%;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0px;
  width: 100%;
  z-index: 11;
  border: 15px solid white;
}

input[type="checkbox"]:focus {
  outline: 0;
}

input[type="checkbox"]:checked + label {
  background: chartreuse;
}

.videos .video iframe {
  height: 80%;
  left: 0;
  margin: 0 auto;
  object-fit: contain;
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;
  z-index: 10;
}

@media screen and (min-width: 460px) {
  .videos .video {
    width: 50%;
    height: 175px;
  }
}
@media screen and (min-width: 580px) {
  .videos .video {
    width: 33.33%;
    height: 200px;
  }
}
@media screen and (min-width: 768px) {
  .videos .video {
    width: 25%;
    height: 220px;
  }
}
@media screen and (min-width: 1180px) {
  .videos .video {
    width: 20%;
    height: 230px;
  }
}
